{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                     alt="{{ request.site.site_name }}" class="dark-logo"/>
            </div>
            <div class="card-body bg-dark" style="padding-left: 10%; padding-right: 10%;">

                <div class="form-group">
                    <label>
                        {% trans 'Profile Picture' %}
                    </label>
                    <br>
                    <small class="form-text text-muted">
                        {% trans 'To change the image, click on it.' %}
                    </small>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label class="cabinet center-block">
                                    <figure>
                                        <img src="" style="width: 200px; height: 200px;"
                                             data-status="image"
                                             class="gambar img-responsive img-thumbnail"
                                             id="item-img-output"/>
                                    </figure>
                                    <input type="file"
                                           class="item-img file center-block"
                                           accept="image/*"/>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
                                </div>
                                <div class="modal-body">
                                    <div id="upload-demo" class="center-block"></div>
                                </div>
                                <div class="modal-footer" dir="ltr">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                        {% comment %}Translators: This one appears on close buttons.{% endcomment %}
                                        {% trans 'Close' context 'buttons' %}
                                    </button>
                                    <button type="button" id="cropImageBtn" class="btn btn-success">
                                        {% comment %}Translators: This one appears on crop button where the user can crop the uploaded image.{% endcomment %}
                                        {% trans 'Crop' context 'buttons' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <form id="profile-edit-form"
                      action="{% profile_edit_url request.user %}"
                      enctype="multipart/form-data"
                      onsubmit="onSubmitFunction()"
                      method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="id_image" name="image">
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ user_form.username|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ profile_form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ profile_form.last_name|as_crispy_field }}
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ profile_form.gender|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ phone_form.number|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ birthdate_form.birthdate|as_crispy_field }}
                            <input type="hidden" id="birthdate-input">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 mt-3">
                            <button type="submit"
                                    style="width: 100%; height: 100%;"
                                    class="btn btn-success btn-lg">
                                {% trans 'Save Changes' %}
                                <i class="ti-save"></i>
                            </button>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a style="width: 100%; height: 100%;"
                               href="{% url 'change_password' %}"
                               class="btn btn-outline-success btn-lg">
                                {% trans 'Change Password' %}
                                <i class="ti-lock"></i>
                            </a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>