{% extends 'doctorhub/layouts/rtl/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">
        {% trans 'Skills' %}
    </li>

    <li class="breadcrumb-item">
        <a href="">
            {% trans 'Profile' %}
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% include 'home/specialists/labels_edit/page.html' %}

{% endblock %}

{% block additional_js %}

{% endblock %}