{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        {% with edit_mode=True %}
            {% with bg_color='bg-light' %}
                {% include 'home/specialists/services/services_list.html' %}
            {% endwith %}
        {% endwith %}
    </div>
    <div class="col-lg-1">

    </div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <h3>
                    {% trans 'Create New Service' %}
                </h3>
            </div>
            <div class="card-body bg-dark" style="padding-left: 10%; padding-right: 10%;">

                <div class="form-group">
                    <label>
                        {% trans 'Image' %}
                    </label>
                    <br>
                    <small class="form-text text-muted">
                        {% trans 'To change the image, click on it.' %}
                    </small>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label class="cabinet center-block">
                                    <figure>
                                        <img src="" style="width: 200px; height: 200px;"
                                             data-status="image"
                                             class="gambar img-responsive img-thumbnail"
                                             id="item-img-output"/>
                                    </figure>
                                    <input type="file"
                                           class="item-img file center-block"
                                           accept="image/*"/>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?></h4>
                                </div>
                                <div class="modal-body">
                                    <div id="upload-demo" class="center-block"></div>
                                </div>
                                <div class="modal-footer" dir="ltr">
                                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                                        {% comment %}Translators: This one appears on close buttons.{% endcomment %}
                                        {% trans 'Close' context 'buttons' %}
                                    </button>
                                    <button type="button" id="cropImageBtn" class="btn btn-success">
                                        {% comment %}Translators: This one appears on crop button where the user can crop the uploaded image.{% endcomment %}
                                        {% trans 'Crop' context 'buttons' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <form method="POST" onsubmit="setImageInput()">
                    {% csrf_token %}
                    <input type="hidden" id="id_image" name="image">
                    {{ form|crispy }}
                    <br>
                    <br>
                    <div class="form-row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <button type="submit"
                                        style="width: 100%; height: 100%;"
                                        class="btn btn-success btn-lg">
                                    {% trans 'Submit Service' %}
                                    <i class="ti-save"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

