{% extends 'doctorhub/layouts/ltr/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}

    {% include 'home/croppie/image_upload_css.html' %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{% profile_url request.user %}">
            {% trans 'Profile' %}
        </a>
    </li>

    <li class="breadcrumb-item active">
        {% trans 'Create Medical Service' %}
    </li>

{% endblock %}

{% block main_content %}

    {% include 'home/specialists/services/create/page.html' %}

{% endblock %}

{% block additional_js %}

    {% include 'home/specialists/services/create/image_upload_js.html' %}

{% endblock %}