{% extends 'doctorhub/layouts/ltr/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}

    <link href="{% static 'doctorhub/main/dist/css/pages/widget-page.css' %}" rel="stylesheet">
    <link href="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'doctorhub/main/dist/css/pages/user-card.css' %}" rel="stylesheet">

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block main_content %}

    {% include 'home/specialists/work_places/page.html' %}

{% endblock %}

{% block additional_js %}

    {% include 'home/specialists/work_places/remove_js.html' %}
    <script src="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>

{% endblock %}