{% load staticfiles %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                     alt="DigitalTeb" class="dark-logo"/>
            </div>
            <div class="card-body" style="padding-left: 10%; padding-right: 10%;">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="form-body">
                        {{ form|crispy }}
                        <div class="form-group text-center">
                            <button class="btn btn-lg btn-success large-text" type="submit">
                                 ورود
                            </button>
                        </div>
                    </div>
                </form>

                <div class="border-top pt-3">
                    <small class="text-muted">
هنوز ثبت نام نكرديد؟
                        <a class="mr-2 text-success" href="{% url 'signup' %}">
ثبت نام كنيد
                        </a>
                    </small>
                </div>
                <br>
                <div class="pb-3">
                    <small class="text-muted">
                        نام كاربرى يا رمز عبور خود را فراموش كرده ايد؟
                        <a class="mr-2 text-success" href="{% url 'forgot_account' %}">
                            بازيابى حساب كاربرى
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
