{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load staticfiles %}
{% load text_processing %}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 text-center">
        <h2>
            <h1 class="normal-h2">
                {{ page.title }}
            </h1>
        </h2>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        {% image page.image fill-4000x2000 as image %}
        <img src="{{ image.url }}"
             style="width: 100%; height: 100%;"
             alt="{{ image.alt }}">
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row row-flex">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        {% comment %}<div class="card"
             style="height: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="normal-p"
                             style="padding: 10%;">
                            {{ page.article_summary|richtext }}
                            {% if page.has_sections_with_title %}
                                <br>
                                <br>
                                <b>
                                    در اين مقاله ميخوانيد:
                                </b>
                                <br>
                                <br>
                                <ul>
                                    {% for section in page.sections %}
                                        {% if section.value.title %}
                                            <li>
                                                <a href="#{{ section.value.title.source|html_to_str|replace_white_space_with_underscore }}">
                                                    {{ section.value.title.source|html_to_str }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>{% endcomment %}
        {% include 'home/articles/article_page/summary.html' %}
    </div>
    <div class="col-md-2"></div>
</div>

{% include 'home/articles/article_page/introduction.html' %}

{% include 'home/articles/article_page/sections.html' %}

{% include 'home/articles/article_page/conclusion.html' %}

{% include 'home/articles/article_page/tags.html' %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9 bg-success">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box" style="height: 100%;">
                {% comment %} <!-- .chat-left-panel -->
                    <div class="chat-left-aside">
                        <div class="open-panel"><i class="ti-angle-right"></i></div>
                        <div class="chat-left-inner">
                            <div class="form-material">
                                <input class="form-control p-2" type="text" placeholder="Search Contact">
                            </div>
                            <ul class="chatonline style-none ">
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Varun Dhavan <small
                                            class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="active"><img src="../assets/images/users/2.jpg"
                                                                                     alt="user-img" class="img-circle">
                                        <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Ritesh Deshmukh <small
                                            class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Arijit Sinh <small
                                            class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Govinda Star <small
                                            class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img"
                                                                      class="img-circle"> <span>John Abraham<small
                                            class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Hritik Roshan<small
                                            class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img"
                                                                      class="img-circle"> <span>Pwandeep rajan <small
                                            class="text-success">online</small></span></a>
                                </li>
                                <li class="p-20"></li>
                            </ul>
                        </div>
                    </div>
                    <!-- .chat-left-panel -->
                    <!-- .chat-right-panel -->{% endcomment %}
                {#                    <div class="chat-right-aside">#}
                <div class="chat-main-header">
                    <div class="p-3 b-b">
                        <h4 class="box-title normal-h4">
                            نظرات كاربران
                        </h4>
                    </div>
                </div>
                <div class="chat-rbox" style="height: 600px;">
                    <ul class="chat-list p-3">
                        <!--chat Row -->
                        <li>
                            <div class="chat-img">
                                <img src="{% static 'doctorhub/assets/images/users/1.jpg' %}"
                                     alt="user"/>
                            </div>
                            <div class="chat-content">
                                <h5>James Anderson</h5>
                                <div class="box bg-light-info">Lorem Ipsum is simply dummy text of the printing
                                    & type setting industry.
                                </div>
                                <div class="chat-time">10:56 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/2.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Bianca Doe</h5>
                                <div class="box bg-light-info">It’s Great opportunity to work.</div>
                                <div class="chat-time">10:57 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                        <li>
                            <div class="chat-img"><img src="{% static 'doctorhub/assets/images/users/3.jpg' %}"
                                                       alt="user"/></div>
                            <div class="chat-content">
                                <h5>Angelina Rhodes</h5>
                                <div class="box bg-light-info">Well we have good budget for the project</div>
                                <div class="chat-time">11:00 am</div>
                            </div>
                        </li>
                        <!--chat Row -->
                    </ul>
                </div>
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-8">
                                    <textarea placeholder="Type your message here"
                                              class="form-control border-0"></textarea>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-success btn-circle btn-lg"><i
                                    class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
                {#                    </div>#}
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
    <div class="col-md-2"></div>
</div>