{% extends 'doctorhub/layouts/rtl/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}

{% block additional_css %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">
    تغيير رمز عبور
    </li>

    <li class="breadcrumb-item">
        <a href="">
            حساب كاربرى
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load pages %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card border-success">
                <div class="card-header bg-success text-center">
                    <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                         alt="DigitalTeb" class="dark-logo"/>
                </div>
                <div class="card-body bg-dark" style="padding-left: 10%; padding-right: 10%;">
                    <form action="{% url 'change_password' %}"
                          method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <br>
                        <div class="form-row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit"
                                        style="width: 100%; height: 100%;"
                                        class="btn btn-success btn-lg">
                                    ثبت تغييرات
                                </button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}

{% block additional_js %}

{% endblock %}