{% extends 'doctorhub/layouts/rtl/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}

{% block additional_css %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">
    تغيير رمز عبور
    </li>

    <li class="breadcrumb-item">
        <a href="{% home_page_url %}">
            خانه
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% include 'registration/reset_password/page.html' %}

{% endblock %}

{% block additional_js %}

{% endblock %}