{% load static wagtailuserbar %}
{% load meta %}

<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta name="author" content="Hossein Vahedi"/>
        {% include "meta/meta.html" %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <style>

            .row-flex {
                display: flex;
                flex-wrap: wrap;
            }

            [class*="col-"] {
                margin-bottom: 2%;
            }

            @media (max-width: 767px) {
                .not-visible-small {
                    display: none;
                }
            }

            @media (min-width: 768px) {
                .not-visible-big {
                    display: none;
                }
            }

        </style>

        {% block extra_css %}

        {% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% block content %}{% endblock %}


        {% block extra_js %}

        {% endblock %}

    </body>
</html>
