{% load static wagtailuserbar %}
{% load meta %}
{% load languages %}

<!DOCTYPE html>

{% get_active_language as lang %}
<html class="no-js"
      lang="{{ lang.general_language_code }}"
      dir="{{ lang.direction }}">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Hossein Vahedi"/>
    {% include "meta/meta.html" %}

    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with request.site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    <style>

        .row-flex {
            display: flex;
            flex-wrap: wrap;
        }

        [class*="col-"] {
            margin-bottom: 2px;
        }

    </style>

    {% block extra_css %}

    {% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">

{% wagtailuserbar %}

{% block content %}{% endblock %}


{% block extra_js %}

{% endblock %}

</body>
</html>
