{% extends 'doctorhub/layouts/ltr/light/green/master.html' %}

{% load staticfiles %}
{% load pages %}
{% load i18n %}

{% block additional_css %}

    <link href="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'doctorhub/rtl/dist/css/pages/user-card.css' %}" rel="stylesheet">

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{% home_page_url %}">
            {% trans 'Home' %}
        </a>
    </li>

    <li class="breadcrumb-item">
        <a href="{% medical_centers_url %}">
            {% trans 'Medical Centers' %}
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% include 'home/specialists/work_places/public_page/page.html' %}

{% endblock %}

{% block additional_js %}

    <script src="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/Magnific-Popup-master/dist/jquery.magnific-popup-init.js' %}"></script>
    {% include 'home/specialists/work_places/memberships/sweet_alert_create_membership_request_js.html' %}

{% endblock %}