{% load i18n %}
{% load specialties %}
{% load pages %}

<div class="col-md-6 text-center">
    <div class="form-group">
        <a href="{% url 'edit_technical_info' %}" style="width: 100%;" class="btn btn-outline-success btn-lg">
            {% trans 'Technical Information' %}
            <i class="ti-support"></i>
        </a>
    </div>
</div>
<div class="col-md-6 text-center">
    <div class="form-group">
        {% specialist_url request.user as personal_page_url %}
        <a href="{{ personal_page_url }}" target="_blank"
           style="width: 100%;" class="btn btn-outline-success btn-lg">
            {% trans 'Personal Page' %}
            <i class="ti-desktop"></i>
        </a>
    </div>
</div>