{% load wagtailimages_tags %}
{% load staticfiles %}

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        {% for category_row in page.get_row_categories %}
            <div class="row">
                <div class="col-12 m-t-30">
                    <div class="card-deck">
                        {% for category_page in category_row %}
                            <div class="card bg-transparent">
                                {% with category=category_page.specific.category %}
                                    <a href="{{ category_page.get_url }}" class="text-center">
                                        {% image category.horizontal_image fill-1000x1000-c100 as category_img %}
                                        <img class="card-img-top img-circle"
                                             src="{{ category_img.url }}"
                                             style="width: 100px; height: 100px;"
                                             alt="{{ category_img.alt }}">
                                        <h4 class="normal-h4">
                                            {{ category.farsi_name }}
                                        </h4>
                                    </a>

                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-2">
    </div>
</div>