{% load i18n %}

<div class="row">
    <div class="card-columns el-element-overlay">
        {% for image in images %}
            <div class="card {{ bg_color }}">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="{{ image.image_url }}"> 
                            <img src="{{ image.image_url }}" alt="{{ image.place.name }}">
                        </a>
                    </div>
                </div>
                {% if edit_mode %}
                    <div class="el-card-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <a class="btn btn-lg btn-outline-success"
                                   href="{% url 'edit_place_image' image.pk %}"
                                   style="width: 100%;">
                                    {% trans 'Edit' %}
                                    <i class="ti-settings"></i>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <button data-detail-url="{% url 'work-place-images-detail' image.pk %}"
                                        class="btn btn-danger btn-lg delete-image"
                                        style="width: 100%;">
                                    {% trans 'Delete' %}
                                    <i class="ti-eraser"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>