{% load i18n %}
{% load education %}

<div class="row-flex">
    {% for education in education_records %}
        <div class="col-lg-6 mb-3">
            <div class="card card-body {{ bg_color }}" style="height: 100%;">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3 text-center">
                        <img src="{% education_default_image_url %}" alt="{{ education.field }}"
                                        class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0" style="height: 60px;">
                            {{ education.field|truncatechars:50 }}
                        </h3>
                        <br>
                        <p>
                            {{ education.level|truncatechars:100 }}
                        </p>
                        <p>
                            <b>
                                {{ education.institution|truncatechars:100 }}
                            </b>
                        </p>
                        {% if edit_mode %}
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'edit_education' education.pk %}"
                                           class="btn btn-outline-success btn-lg" style="width: 100%;">
                                            {% trans 'Edit' %}
                                            <i class="ti-settings"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <button data-detail-url="{% url 'specialists-education-detail' education.pk %}"
                                           class="btn btn-danger btn-lg delete-place"
                                           style="width: 100%;">
                                            {% trans 'Delete' %}
                                            <i class="ti-eraser"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>