{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load text_processing %}
{% load pages %}
{% load languages %}
{% load specialties %}
{% load i18n %}

<div class="row">
    <div class="col-lg-12">
        <div class="card bg-transparent">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <select class="search-input" style="width: 100%;"></select>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row-flex">
                            {% for specialist in specialists %}
                                <div class="col-md-6 col-lg-6 col-xlg-4 mb-3">
                                    <div class="card card-body" style="height: 100%;">
                                        <div class="row align-items-center">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="{{ specialist.get_url }}"><img
                                                        src="{{ specialist.user.profile.image_url }}"
                                                        alt="{{ specialist.user.username }}"
                                                        class="img-circle img-fluid"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9 text-left not-visible-small">
                                                {% include 'home/specialists/specialist_detail.html' %}
                                            </div>
                                            <div class="col-md-8 col-lg-9 text-center not-visible-big">
                                                {% include 'home/specialists/specialist_detail.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
                {% if specialists.paginator.num_pages > 1 %}
                    <div class="row mt-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            {% with paginated_objects=specialists %}
                                {% include 'home/pagination/pagination.html' %}
                            {% endwith %}
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


