{% load i18n %}
{% load search %}
{% load specialties %}
{% load staticfiles %}


<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src="{% static 'doctorhub/more/js/handlebars.min-v4.5.3.js' %}"></script>


<script id="profile-result-template" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-md-2 text-center">
                    <div style="padding-left: 20%; padding-right: 20%;">
                        <img src="{{ image_url }}" alt="{{ name }}" class="img-circle img-fluid"
                             style="width: 100%; height: 100%;">
                    </div>
                    <h3 class="box-title h5 m-b-0">
                        {{ name }}
                    </h3>
                </div>
                <div class="col-md-10 text-left not-visible-small">
                    {{ services }}
                </div>
                <div class="col-md-10 text-center not-visible-big">
                    {{ services }}
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>

<script id="specialty-result-template" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-md-2 text-center">
                    <div style="padding-left: 20%; padding-right: 20%;">
                        <img src="{{ image_url }}" alt="{{ name }}" class="img-circle img-fluid"
                             style="width: 100%; height: 100%;">
                    </div>
                    <h3 class="box-title h5 m-b-0">
                        {{ name }}
                    </h3>
                </div>
                <div class="col-md-10 text-left not-visible-small">
                </div>

                <div class="col-md-10 text-center not-visible-big">
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>

<script>
    var placeHolder = "{% trans "Search symptoms, specialty, doctor's name" %}";
    var searchLimit = {% search_limit %};
    $(document).ready(
        function () {
            $('.search-input').select2(
                {
                    ajax: {
                        url: "{% url 'global-search' %}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            var page = params.page || 1;
                            return {
                                search: params.term, // search term
                                limit: searchLimit,
                                offset: (page - 1) * searchLimit,
                            };
                        },
                        processResults: function (data, params) {
                            var has_more = false;
                            if (data['next']) {
                                has_more = true;
                            }
                            return {
                                results: data.results,
                                pagination: {
                                    more: has_more
                                }
                            };
                        },
                        cache: true
                    },
                    placeholder: placeHolder,
                    minimumInputLength: 1,
                    templateResult: formatResult,
                    templateSelection: formatResultSelection
                }
            );
            $('.search-input').on('select2:select', function (e) {
                window.location = e.params.data.page_url;
            });
        }
    );

    function formatProfileResult(result) {
        var resultTemplate = $('#profile-result-template').html();
        var templateScript = Handlebars.compile(resultTemplate);
        var context = {
            "name": result.name,
            "image_url": result.image_url,
            "services": result.services
        };
        return templateScript(context);
    }

    function formatSpecialtyResult(result) {
        var resultTemplate = $('#specialty-result-template').html();
        var templateScript = Handlebars.compile(resultTemplate);
        var context = {
            "name": result.name,
            "image_url": result.image_url,
        };
        return templateScript(context);
    }

    function formatResult(result) {
        if (result.loading) {
            return result.text;
        }
        if (result.type == 'Profile') {
            return $(formatProfileResult(result));
        } else if (result.type == 'Specialty') {
            return $(formatSpecialtyResult(result));
        }
    }

    function formatResultSelection(repo) {
        return repo.name || repo.text;
    }
</script>
