{% load i18n %}
{% load search %}
{% load specialties %}
{% load staticfiles %}


<script src="{% static 'doctorhub/more/plugins/select2-4.0.12/dist/js/select2.min.js' %}"></script>
<script src="{% static 'doctorhub/more/js/handlebars.min-v4.5.3.js' %}"></script>


<script id="place-result-template" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-md-2 text-center">
                    <div style="padding-left: 20%; padding-right: 20%;">
                        <img src="{{ image_url }}" alt="{{ name }}" class="img-thumbnail img-fluid"
                             style="width: 100%; height: 100%;">
                    </div>
                    <h3 class="box-title h5 m-b-0">
                        {{ name }}
                    </h3>
                </div>
                <div class="col-md-10 text-left not-visible-small">
                    <div class="badge badge-primary">
                        {{ medical_center }}
                    </div>
                    <div class="badge badge-success">
                        {{ city }}
                    </div>
                    <h3>
                        {{ address }}
                    </h3>
                </div>
                <div class="col-md-10 text-center not-visible-big">
                    <div class="badge badge-primary">
                        {{ medical_center }}
                    </div>
                    <div class="badge badge-success">
                        {{ city }}
                    </div>
                    <h3>
                        {{ address }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>

<script id="medical-center-result-template" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-md-2 text-center">
                    <div style="padding-left: 20%; padding-right: 20%;">
                        <img src="{{ image_url }}" alt="{{ name }}" class="img-thumbnail img-fluid"
                             style="width: 100%; height: 100%;">
                    </div>
                    <h3 class="box-title h5 m-b-0">
                        {{ name }}
                    </h3>
                </div>
                <div class="col-md-10">
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>

<script>
    var placeHolder = "{% trans "Search medical centers, equipments, address" %}";
    var searchLimit = {% search_limit %};
    $(document).ready(
        function () {
            $('.search-input').select2(
                {
                    ajax: {
                        url: "{% url 'medical-centers-search' %}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            var page = params.page || 1;
                            return {
                                search: params.term, // search term
                                limit: searchLimit,
                                city: $('.cities-input').val(),
                                offset: (page - 1) * searchLimit,
                            };
                        },
                        processResults: function (data, params) {
                            var has_more = false;
                            if (data['next']) {
                                has_more = true;
                            }
                            return {
                                results: data.results,
                                pagination: {
                                    more: has_more
                                }
                            };
                        },
                        cache: true
                    },
                    placeholder: placeHolder,
                    templateResult: formatResult,
                    templateSelection: formatResultSelection
                }
            );
            $('.search-input').on('select2:select', function (e) {
                var city_query = '';
                if (e.params.data.type == 'MedicalCenter') {
                    var city = $('.cities-input').val();
                    if (city) {
                        city_query = '?city=' + city;
                    }
                }
                window.location = e.params.data.page_url + city_query;
            });
        }
    );

    function formatPlaceResult(result) {
        var resultTemplate = $('#place-result-template').html();
        var templateScript = Handlebars.compile(resultTemplate);
        var context = {
            "name": result.name,
            "image_url": result.image_url,
            "medical_center": result.medical_center_name,
            "city": result.city_name,
            "address": result.address
        };
        return templateScript(context);
    }

    function formatMedicalCenterResult(result) {
        var resultTemplate = $('"medical-center-result-template').html();
        var templateScript = Handlebars.compile(resultTemplate);
        var context = {
            "name": result.name,
            "image_url": result.image_url,
        };
        return templateScript(context);
    }

    function formatResult(result) {
        if (result.loading) {
            return result.text;
        }
        if (result.type == 'WorkPlace') {
            return $(formatPlaceResult(result));
        } else if (result.type == 'MedicalCenter') {
            return $(formatMedicalCenterResult(result));
        }
    }

    function formatResultSelection(repo) {
        return repo.name || repo.text;
    }
</script>

{% include 'home/specialists/search_cities_js.html' %}
