{% load specialties %}
{% load services %}
{% load pages %}

<a href="{{ specialist.get_url }}">
    <h3 class="box-title m-b-0">
        {{ specialist.user.profile.first_name }} {{ specialist.user.profile.last_name }}
    </h3>
</a>

{% get_specialties specialist.user as specialties %}
{% for specialty in specialties %}
    <a href="{% specialty_page_url specialty %}" class="badge badge-primary">
        {{ specialty.specialist_name }}
    </a>
{% endfor %}
<br>
<br>
<p>
    {% user_services_str specialist.user as labels %}
    {{ labels|truncatechars:100 }}
</p>