{% load i18n %}
{% load pages %}
{% load specialties %}
{% load services %}
{% load education %}
{% load work_places %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row-flex mb-4">
            <div class="col-lg-4 col-xlg-3 col-md-5 mt-2">
                <div class="card" style="height: 100%;">
                    <div class="card-body text-center">
                        <img src="{{ request.user.profile.image_url }}" class="img-circle" width="150"/>
                        <h4 class="card-title m-t-10">
                            {{ request.user.profile.first_name }}
                            {{ request.user.profile.last_name }}
                        </h4>
                        {% get_specialties request.user as specialties %}
                        {% for specialty in specialties %}
                            <a href="{% specialty_page_url specialty %}" class="badge badge-primary m-t-10">
                                {{ specialty.specialist_name }}
                            </a>
                        {% endfor %}
                        <br>
                        <br>
                        <a href="{% url 'edit_specialist_account' %}"
                           style="width: 100%;"
                           class="btn btn-success btn-lg">
                            <small>
                                {% trans 'Account Information' %}
                            </small>
                            <i class="ti-settings"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% user_services request.user as labels %}
            {% user_education_records request.user as education_records %}
            <div class="col-lg-8 col-xlg-9 col-md-7 mt-2">
                <!-- Nav tabs -->
                <div class="card" style="height: 100%;">
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#skills" role="tab">
                                {% trans 'Medical Services' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#work-places" role="tab">
                                {% trans 'Work Places' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#symptoms" role="tab">
                                {% trans 'Symptoms and Problems' %}
                            </a>
                        </li>

                      {% comment %}  TODO: create education section
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#education" role="tab">
                                {% trans 'Education' %}
                            </a>
                        </li>
                        {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#articles" role="tab">
                                {% trans 'Blogs' %}
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="skills" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% if labels %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with services=labels %}
                                                {% with complete_mode=True %}
                                                    {% include 'home/specialists/services/services_list.html' %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <p class="text-danger text-center">
                                        {% trans 'Please enter every medical services you provide. Users can search for specialists by medical services they provide using our "Advanced Search Engine".' %}
                                    </p>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="{% url 'create_service' %}"
                                           class="btn btn-success btn-lg">
                                            {% trans 'Create New Service' %}
                                            <i class="ti-plus"></i>
                                        </a>

                                        <a href="{% specialists_url %}"
                                           target="_blank"
                                           class="btn btn-primary btn-lg">
                                            {% trans 'Search Specialists' %}
                                            <i class="ti-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="work-places" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% user_work_places request.user as places %}
                                {% if places %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/work_places/places_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                    <p class="text-danger text-center">
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <p class="text-danger text-center">
                                        {% trans "Where can our users find you? Enter your working schedule during the week so that our users can book an appointment." %}
                                    </p>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="{% url 'create_work_place' %}"
                                           class="btn btn-success btn-lg">
                                            {% trans 'Create New Work Place' %}
                                            <i class="ti-plus"></i>
                                        </a>

                                        <a href="{% medical_centers_url %}"
                                           target="_blank"
                                           class="btn btn-primary btn-lg">
                                            {% trans 'Search Medical Centers' %}
                                            <i class="ti-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="symptoms" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% if request.user.symptom_set.all %}
                                    {% with symptoms=request.user.symptom_set.all %}
                                        {% with edit_mode=True %}
                                            {% with bg_color='bg-dark' %}
                                                {% with complete_mode=True %}
                                                    {% include 'home/specialists/symptoms/symptoms_list.html' %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <p class="text-danger text-center">
                                        {% trans "Please enter every symptoms or problems that you can help in it's treatment. Users can search for specialists by symptoms and problems they can treat using our 'Advanced Search Engine'." %}
                                    </p>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="{% url 'create_symptom' %}"
                                           class="btn btn-success btn-lg">
                                            {% trans 'Create New Symptom or Problem' %}
                                            <i class="ti-plus"></i>
                                        </a>

                                        <a href="{% specialists_url %}"
                                           target="_blank"
                                           class="btn btn-primary btn-lg">
                                            {% trans 'Search Specialists' %}
                                            <i class="ti-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% comment %}    TODO: create education section
                        <div class="tab-pane" id="education" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% if education_records %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/education/education_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Let your patients know about your educational history." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_education' %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Create New Education Record' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endcomment %}
                        <div class="tab-pane" id="articles" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                <p class="text-danger text-center">
                                    {% trans 'Share your knowledge with others by creating posts.' %}
                                    {% specialist_url request.user as specialist_page_url %}
                                    {% blocktrans trimmed with page_url=specialist_page_url %}
                                        Creating posts, helps search engines like Google to find your
                                        <a href="{{ page_url }}" target="_blank">
                                            Personal Page
                                        </a>
                                    {% endblocktrans %}
                                </p>
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'edit_articles' %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'My Posts' %}
                                        <i class="ti-notepad"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
