{% load i18n %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                            <h4 class="card-title text-center">
                                {% trans 'Technical Information' %}
                            </h4>
                        <hr>
                        <div class="text-center" style="height: 200px; overflow-y: scroll;">
                            <h6 class="text-center">
                                {% trans "Please enter your technical information so that patients would find you easier." %}
                            </h6>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center" style="padding-left: 5%; padding-right: 5%;">
                                <a href="{% url 'edit_technical_info' %}" style="width: 100%;" class="btn btn-outline-success">
                                    {% trans 'Technical Information' %}
                                    <i class="ti-support"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                            <h4 class="card-title text-center">
                                {% trans 'Biography' %}
                            </h4>
                        <hr>
                        <div class="text-center" style="height: 200px; overflow-y: scroll;">
                            <h6 class="text-center">
                                {% trans "Adding biography helps your patients feel more comfortable with you." %}
                            </h6>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-center" style="padding-left: 5%; padding-right: 5%;">
                                <a href="{% url 'edit_biography' request.user.biography.pk %}" style="width: 100%;" class="btn btn-outline-success">
                                    {% trans 'Edit Biography' %}
                                    <i class="ti-settings"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>