{% load i18n %}

<div class="row-flex">
    {% for day in days %}
        <div class="col-lg-6 mb-3">
            <div class="card card-body" style="height: 100%;">
                <div class="row align-items-center {{ bg_color }}">
                    <div class="col-md-4 col-lg-3 text-center" style="margin-bottom: 5%; margin-top: 5%;">
                        <a href="{% url 'week-day' day.pk %}">
                            <img src="{{ day.get_default_icon.image_url }}" alt="{{ day.day }}"
                                 class="img-fluid img-thumbnail">
                        </a>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <a href="{% url 'week-day' day.pk %}">
                            <h3 class="box-title m-b-0">
                                {{ day.name }}
                            </h3>
                        </a>
                    </div>
                </div>
                {% if edit_mode %}
                <div class="row mt-3">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button data-detail-url="{% url 'week-days-detail' day.pk %}"
                                class="btn btn-danger btn-lg delete-day"
                                style="width: 100%;">
                            {% trans 'Delete' %}
                            <i class="ti-eraser"></i>
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>