{% extends 'doctorhub/layouts/rtl/light/green/master.html' %}

{% load staticfiles %}

{% block additional_css %}

    <link href="{% static 'doctorhub/rtl/dist/css/pages/chat-app-page.css' %}" rel="stylesheet">

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{{ page.get_parent.get_url }}">
            {{ page.get_parent.specific.category.name }}
        </a>
    </li>

    <li class="breadcrumb-item">
        <a href="{{ page.get_parent.get_parent.get_url }}">
            {{ page.get_parent.get_parent.specific.translated_title }}
        </a>
    </li>

    <li class="breadcrumb-item">
        <a href="{{ page.get_home_page.get_url }}">
            {{ page.get_home_page.translated_title }}
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% include 'home/articles/article_page/web_md_blog/page.html' %}

{% endblock %}

{% block additional_js %}

    <script src="{% static 'doctorhub/rtl/dist/js/pages/chat.js' %}"></script>

{% endblock %}