{% extends 'doctorhub/layouts/rtl/light/green/master.html' %}

{% load staticfiles %}

{% block additional_css %}

{% endblock %}

{% block page_title %}

{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">
    فعال سازى موبايل
    </li>

    <li class="breadcrumb-item">
        <a href="">
            حساب كاربرى
        </a>
    </li>

{% endblock %}

{% block main_content %}

    {% include 'home/users/phone/page.html' %}

{% endblock %}

{% block additional_js %}

{% endblock %}