{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load text_processing %}
{% load pages %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% image page.category.horizontal_image fill-1000x250-c100 as category_img %}
            <img class="card-img-top img-responsive" src="{{ category_img.url }}"
                 alt="{{ category_img.alt }}">
            <div class="card-body text-center">
                <h1 class="card-text x-large-text"
                    style="padding: 5% 15%;">
                    {{ page.category.name }}
                </h1>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-10">
                        {% in_rows page.child_pages 2 as row_articles %}
                        {% for article_row in row_articles %}
                            {% with length=article_row|length %}
                                {% if length == 1 %}
                                    {% with article_page=article_row.0 %}
                                        <div class="row not-visible-small">
                                            {% include 'home/articles/articles_category_page/horizontal_article.html' %}
                                        </div>
                                        <div class="row not-visible-big">
                                            {% include 'home/articles/articles_category_page/vertical_article.html' %}
                                        </div>
                                    {% endwith %}
                                {% elif length == 2 %}
                                    <div class="row">
                                        {% include 'home/articles/articles_category_page/vertical_article.html' %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
                {% if posts.paginator.num_pages > 1 %}
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    {% if posts.has_previous %}
                                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-secondary">
                                            <span>&laquo;</span>
                                        </a>
                                    {% endif %}
                                    {% for page_num in posts.paginator.page_range %}
                                        {% if page_num == posts.number %}
                                            <a class="btn btn-success disabled">
                                                {{ page_num }}
                                            </a>
                                        {% else %}
                                            <a href="?page={{ page_num }}" class="btn btn-secondary">
                                                {{ page_num }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                        <a href="?page={{ posts.next_page_number }}" class="btn btn-secondary">
                                            <span>&raquo;</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


