{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load text_processing %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            {% image page.category.horizontal_image fill-1000x250-c100 as category_img %}
            <img class="card-img-top img-responsive" src="{{ category_img.url }}"
                 alt="{{ category_img.alt }}">
            <div class="card-body text-center">
                <h4 class="card-text normal-h4"
                    style="padding-left: 15%; padding-right: 15%; padding-top: 5%; padding-bottom: 5%;">
                    {{ page.category.farsi_description }}
                </h4>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-10">
                        {% for article_row in row_articles %}
                            <div class="row">
                                <div class="col-12 m-t-30">
                                    <div class="card-deck">
                                        {% for article_page in article_row %}
                                            <div class="card bg-inverse">
                                                <a href="{{ article_page.get_url }}" style="padding: 2% 2% 0px;">
                                                    {% image article_page.specific.image fill-1000x550-c100 as article_img %}
                                                    <img class="card-img-top img-responsive" src="{{ article_img.url }}"
                                                         alt="{{ article_img.alt }}">
                                                </a>

                                                <div class="card-body text-center">
                                                    <h4 class="card-title normal-h4" style="height: 60px; overflow-y: hidden;">
                                                        {{ article_page.title|truncatechars:70 }}
                                                    </h4>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div style="height: 300px; padding: 3%; overflow-y: hidden;">
                                                                <p class="normal-p">
                                                                    {{ article_page.specific.article_summary|html_to_str|truncatechars:250 }}
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="{{ article_page.get_url }}"
                                                               class="btn btn-lg btn-outline-success normal-h4">
                                                                خواندن مقاله
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
                {% if posts.paginator.num_pages > 1 %}
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-8">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    {% if posts.has_previous %}
                                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-secondary">
                                            <span>&laquo;</span>
                                        </a>
                                    {% endif %}
                                    {% for page_num in posts.paginator.page_range %}
                                        {% if page_num == posts.number %}
                                            <a class="btn btn-success disabled">
                                                {{ page_num }}
                                            </a>
                                        {% else %}
                                            <a href="?page={{ page_num }}" class="btn btn-secondary">
                                                {{ page_num }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                        <a href="?page={{ posts.next_page_number }}" class="btn btn-secondary">
                                            <span>&raquo;</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


