{% load wagtailcore_tags %}
{% load text_processing %}


<div class="card"
     style="height: 100%;">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div style="padding: 10%;">
                    {{ page.article_summary|richtext }}
                    {% if page.sections_with_title %}
                        <br>
                        <br>
                        <b>
                            در اين مقاله ميخوانيد:
                        </b>
                        <br>
                        <br>
                        <ul>
                            {% for section in page.sections_with_title %}
                                <li>
                                    <a href="#{{ section.value.title.source|html_to_str|replace_white_space_with_underscore }}">
                                        {{ section.value.title.source|html_to_str }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>