{% load specialties %}
{% load i18n %}
{% load hitcount_tags %}
{% load pages %}


<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <img src="{{ page.user.profile.image_url }}" class="img-circle" width="150"/>
                <h4 class="card-title m-t-10">
                    {{ page.user.first_name }}
                    {{ page.user.last_name }}
                </h4>
                {% get_specialties page.user as specialties %}
                {% for specialty in specialties %}
                    <div class="badge badge-primary m-t-10">
                        {{ specialty.specialist_name }}
                    </div>
                {% endfor %}
                <br>
                <br>
                <div class="row text-center justify-content-md-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p>
                            <i class="ti-eye"></i>
                            {% get_hit_count for page %}
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body text-center">
                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
            </div>
        </div>

    </div>
    {% user_labels page.user as labels %}
    {% user_education_records page.user as education_records %}
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#skills" role="tab">
                        {% trans 'Services' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#education" role="tab">
                        {% trans 'Education' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#biography" role="tab">
                        {% trans 'Biography' %}
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="skills" role="tabpanel">
                    <div class="card-body">
                        {% if labels %}
                            <ul>
                                {% for label in labels %}
                                    <li>
                                        {{ label.name }}
                                        {% if label.description %}
                                            :
                                            <br>
                                            {{ label.description }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="education" role="tabpanel">
                    <div class="card-body">
                        {% if education_records %}
                            <ul>
                                {% for record in education_records %}
                                    <li>
                                        {{ record.level }}:
                                        <br>
                                        {{ record.field }} | {{ record.institution }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="biography" role="tabpanel">
                    <div class="card-body">
                        {% if page.user.biography.biography %}
                            {{ page.user.biography.biography|safe }}
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if articles %}
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3>
                        {% trans "Articles" %}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% in_rows articles 2 as articles_rows %}
                            {% with bg_color='bg-dark' %}
                                {% with compact_mode=True %}
                                    {% include 'home/articles/articles_category_page/articles_list.html' %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                    {% include 'home/articles/articles_category_page/pagination.html' %}

                </div>
            </div>
        {% endif %}
    </div>

</div>