{% load specialties %}
{% load i18n %}

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center">
                <img src="{{ page.user.profile.image_url }}" class="img-circle" width="150"/>
                <h4 class="card-title m-t-10">
                    {{ page.user.first_name }}
                    {{ page.user.last_name }}
                </h4>
                {% get_specialties page.user as specialties %}
                {% for specialty in specialties %}
                    <div class="badge badge-primary m-t-10">
                        {{ specialty.specialist_name }}
                    </div>
                {% endfor %}
                <br>
                <br>
                <div class="row text-center justify-content-md-center">
                    <div class="col-4">
                        <a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                            <span class="font-medium">254
                            </span>
                        </a>
                    </div>
                    <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <span
                            class="font-medium">54</span></a></div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body text-center">
                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    {% user_labels page.user as labels %}
    {% user_education_records page.user as education_records %}
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#biography" role="tab">
                        {% trans 'Biography' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#skills" role="tab">
                        {% trans 'Skills' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#education" role="tab">
                        {% trans 'Education' %}
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="biography" role="tabpanel">
                    <div class="card-body">
                        {% if page.user.biography.biography %}
                            {{ page.user.biography.biography|safe }}
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <!--second tab-->
                <div class="tab-pane" id="skills" role="tabpanel">
                    <div class="card-body">
                        {% if labels %}
                            <ul>
                                {% for label in labels %}
                                    <li>
                                        {{ label.name }}
                                        {% if label.description %}
                                            :
                                            <br>
                                            {{ label.description }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="tab-pane" id="education" role="tabpanel">
                    <div class="card-body">
                        {% if education_records %}
                            <ul>
                                {% for record in education_records %}
                                    <li>
                                        {{ record.level }}:
                                            <br>
                                        {{ record.field }} | {{ record.institution }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-danger text-center">
                                {% trans 'Nothing Submitted yet.' %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>