{% load i18n %}
{% load pages %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $('.reject-btn').click(
        function (event) {
            var button = $(event.target);
            swal(
                {
                    title: "{% trans 'Are you sure?' %}",
                    text: "{% trans "Do you want to reject this request?" %}",
                    icon: 'warning',
                    buttons: [
                        "{% trans 'Cancel' %}",
                        "{% trans 'Ok' %}"
                    ],
                    dangerMode: true,
                }
            ).then((willDelete) => {
                var token = '{{ csrf_token }}';
                if (willDelete) {
                    $.ajax({
                        url: button.attr('data-url'),
                        type: 'POST',
                        data: {
                            membership: button.attr('data-membership')
                        },
                        dataType: "json",
                        headers: {"X-CSRFToken": token},
                        success: function () {
                            swal(
                                "{% trans 'Request Rejected!' %}",
                                {
                                    icon: "success",
                                }
                            ).then(() => {
                                window.location.href = "{% url 'work_place_profile' object.pk %}";
                            })
                        },
                    });
                }
            });
        }
    );
</script>