{% extends 'base.html' %}

{% load staticfiles %}
{% load wagtailimages_tags %}
{% load pages %}
{% load i18n %}
{% load specialties %}

{% block extra_css %}

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'doctorhub/assets/images/favicon.png' %}">
    <link href="{% static 'doctorhub/main/dist/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">

    {% include 'doctorhub/media.html' %}

    <style>

        .x-small-text {
            font-family: 'Harmattan', "Times New Roman";
            font-size: small;
        }

        .small-text {
            font-family: 'Harmattan', "Times New Roman";
            font-size: medium;
        }

        .x-large-text {
            font-family: 'Harmattan', "Times New Roman";
            font-size: xx-large;
        }

        .large-text {
            font-family: 'Harmattan', "Times New Roman";
            font-size: x-large;
        }

        * {
            font-family: 'Harmattan', "Times New Roman";
            font-size: large;
        }

    </style>

    {% block additional_css %}

    {% endblock %}

{% endblock %}

{% block body_class %}

    skin-green fixed-layout

{% endblock %}

{% block content %}

    {% include 'doctorhub/preloader.html' %}

    <div id="main-wrapper">

        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% home_page_url %}">
                        <!-- Logo icon --><b>
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="{% static 'doctorhub/assets/images/logo-icon.png' %}"
                             alt="{{ request.site.site_name }}" class="dark-logo"/>
                        <!-- Light Logo icon -->
                        <img src="{% static 'doctorhub/assets/images/logo-light-icon.png' %}"
                             alt="{{ request.site.site_name }}" class="light-logo"/>
                    </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="{% static 'doctorhub/assets/images/logo-text.png' %}"
                              alt="{{ request.site.site_name }}" class="dark-logo"/>
                        <!-- Light Logo text -->
                         <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                              class="light-logo" alt="{{ request.site.site_name }}"/></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">

                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        {% include 'doctorhub/events/events.html' %}
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        {% comment %}TODO: implement global search
                        {% include 'doctorhub/global_search.html' %}{% endcomment %}
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        {% if request.user.is_authenticated %}
                            {% include 'doctorhub/topbar_user_panel.html' %}
                        {% endif %}
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"><a class="nav-link  waves-effect waves-light"
                                                                  href="javascript:void(0)"><i class="ti-settings"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="{% static 'doctorhub/assets/images/logo-icon.png' %}" alt="elegant admin template"></span>
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i
                        class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        {% include 'doctorhub/sidebar/sidebar.html' %}
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h1 class="text-themecolor large-text">
                            {% block page_title %}

                            {% endblock %}
                        </h1>
                    </div>
                    <div class="col-md-7 align-self-center text-right not-visible-small">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                {% block breadcrumb %}

                                {% endblock %}
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                {% include 'doctorhub/notifications/notifications.html' %}

                {% block main_content %}

                {% endblock %}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title">
                            <i class="ti-settings" style="font-size: large;"></i>
                            <span><i class="ti-close right-side-toggle"></i></span>
                        </div>
                        <div class="r-panel-body">
                            <div class="row">
                                {% include 'doctorhub/settings.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

{% endblock %}

{% block extra_js %}

    <script src="{% static 'doctorhub/assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/popper/popper.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'doctorhub/assets/node_modules/sparkline/jquery.sparkline.min.js' %}"></script>

    <script src="{% static 'doctorhub/main/dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'doctorhub/main/dist/js/waves.js' %}"></script>
    <script src="{% static 'doctorhub/main/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'doctorhub/main/dist/js/custom.min.js' %}"></script>

    {% block additional_js %}

    {% endblock %}

{% endblock %}