{% load staticfiles %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                     alt="DigitalTeb" class="dark-logo"/>
            </div>
            <div class="card-body bg-dark" style="padding-left: 10%; padding-right: 10%;">
                <form action="{% url 'signup' %}"
                      onsubmit="set_gregorian_date()"
                      method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.birthdate|as_crispy_field }}
                            <input type="hidden" id="birthdate-input">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.captcha|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit"
                                    style="width: 100%; height: 100%;"
                                    class="btn btn-success btn-lg">
                                ثبت نام
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br>
                </form>

                <div class="border-top pt-3">
                    <small class="text-muted">
قبلا ثبت نام كرديد؟
                        <a class="mr-2 text-success" href="{% url 'login' %}">
                            وارد شويد
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
