{% load staticfiles %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                     alt="DigitalTeb" class="dark-logo"/>
            </div>
            <div class="card-body" style="padding-left: 10%; padding-right: 10%;">
                <p class="text-center">
                    نام كاربرى شما،
                    <b>
                        {{ user.username }}
                    </b>
                    است. لطفا رمز عبور خود را تغيير دهيد.
                </p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-body">
                        {{ form|crispy }}
                        <div class="form-group text-center">
                            <button class="btn btn-lg btn-success large-text" type="submit">
                                تغيير رمز عبور
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>