{% load i18n %}
{% load languages %}

<div class="col-md-12">
    <b>
        {% trans 'Language Settings:' %}
    </b>
    <br>
    <br>
</div>

<div class="col-md-12">
    <div class="row">
        {% get_active_language as active_lang %}
        {% if supported_languages %}
            {% for lang in supported_languages %}
                {% include 'doctorhub/language.html' %}
            {% endfor %}
        {% else %}
            {% get_all_languages as supported_languages %}
            {% for lang in supported_languages %}
                {% include 'doctorhub/language.html' %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
</script>