{% load i18n %}
{% load specialties %}
{% load pages %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
            src="{{ request.user.profile.image_url }}" alt="user"
            class="img-circle" width="30"></a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
        <span class="with-arrow"><span class="bg-primary"></span></span>
        <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
            <div class=""><img src="{{ request.user.profile.image_url }}"
                               alt="user" class="img-circle"
                               width="60"></div>
            <div class="m-l-10">
                <h4 class="m-b-0">
                    {{ request.user.first_name }}
                    {{ request.user.last_name }}
                </h4>
            </div>
        </div>
        {% is_specialist request.user as user_is_specialist %}
        <a class="dropdown-item" href="{% url 'profile' %}"><i
                class="ti-user m-r-5 m-l-5"></i>
            {% trans 'Profile' %}
        </a>
        <a class="dropdown-item" href="{% url 'edit_account' %}"><i
                class="ti-wallet m-r-5 m-l-5"></i>
            {% trans 'Account Information' %}
        </a>
        {% if user_is_specialist %}
            <a class="dropdown-item" href="{% url 'edit_technical_info' %}"><i
                    class="ti-wallet m-r-5 m-l-5"></i>
                {% trans 'Technical Information' %}
            </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'logout' %}"><i
                class="fa fa-power-off m-r-5 m-l-5"></i>{% trans 'Logout' %}</a>
        {% if user_is_specialist %}
            <div class="p-l-30 p-10">
                {% specialist_url request.user as personal_page_url %}
                <a href="{{ personal_page_url }}"
                   class="btn btn-sm btn-success btn-rounded">
                    {% trans 'Personal Page' %}
                </a>
            </div>
        {% endif %}
    </div>
</li>
