{% load i18n %}
{% load pages %}
{% load specialties %}
{% load services %}
{% load education %}
{% load work_places %}

<div class="row">
    <div class="col-md-12">
        <div class="row-flex mb-4">
            <div class="col-lg-4 col-xlg-3 col-md-5 mt-2">
                <div class="card" style="height: 100%;">
                    <div class="card-body text-center">
                        <img src="{{ object.image_url }}" class="img-thumbnail" width="150"/>
                        <h4 class="card-title m-t-10">
                            {{ object.name }}
                        </h4>
                        <a href="" class="badge badge-primary m-t-10">
                            {{ object.medical_center.name }}
                        </a>
                        <br>
                        <br>
                        <h4>
                            {{ object.address }}
                        </h4>
                        <br>
                        <br>
                        <a href="{% url 'edit_work_place' object.pk %}"
                           style="width: 100%;"
                           class="btn btn-success btn-lg">
                            <small>
                                {% trans 'Work Place Information' %}
                            </small>
                            <i class="ti-settings"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7 mt-2">
                <!-- Nav tabs -->
                <div class="card" style="height: 100%;">
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        {% if waiting_memberships %}
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#waiting-memberships" role="tab">
                                    {% trans 'Membership Requests' %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if not waiting_memberships %}active{% endif %}" data-toggle="tab" href="#working-hours" role="tab">
                                {% trans 'My Working Hours' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#phone" role="tab">
                                {% trans 'Phone' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#equipments" role="tab">
                                {% trans 'Equipments' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#images" role="tab">
                                {% trans 'Images' %}
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        {% if waiting_memberships %}
                            <div class="tab-pane active" id="waiting-memberships" role="tabpanel">
                                <div class="card-body" style="height: 400px; overflow-y: scroll;">

                                    <div class="row">
                                        {% for membership in waiting_memberships %}
                                            <div class="col-md-12">
                                                <div class="card card-body bg-dark" style="height: 100%;">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-4 col-lg-3 text-center">
                                                            <a href="{% specialist_url membership.employee %}">
                                                                <img src="{{ membership.employee.profile.image_url }}"
                                                                     alt="{{ membership.employee.profile.name }}"
                                                                     class="img-fluid img-circle">
                                                            </a>
                                                            <br>
                                                            <br>
                                                            {% get_specialties membership.employee as specialties %}
                                                            {% for specialty in specialties %}
                                                                <a href="{% specialty_page_url specialty %}"
                                                                   class="badge badge-primary">
                                                                    {{ specialty.specialist_name }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-8 col-lg-9 not-visible-big text-center">
                                                            <br>
                                                            <h4>
                                                                {% include 'home/specialists/work_places/memberships/request_message.html' %}
                                                            </h4>
                                                        </div>
                                                        <div class="col-md-8 col-lg-9 not-visible-small">
                                                            <h4>
                                                                {% include 'home/specialists/work_places/memberships/request_message.html' %}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="tab-pane {% if not waiting_memberships %}active{% endif %}" id="working-hours" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% if days %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/work_places/times/days/days_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Add your working hours at this place during the week." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_week_day' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add Working Day' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="phone" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% place_phones object as phones %}
                                {% if phones %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/work_places/phone/phones_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Add Phone number for this work place so that people can contact you." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_place_phone' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add New Phone' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="equipments" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% place_equipments object as equipments %}
                                {% if equipments %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/work_places/equipments/equipments_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "What equipments does this place have?" %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_equipment' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add Equipment' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="images" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% place_images object as images %}
                                {% if images %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% include 'home/specialists/work_places/images/gallery.html' %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Upload images of your work place." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_place_image' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add New Image' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

