{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pages %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-success">
            <div class="card-header bg-success text-center">
                <img src="{% static 'doctorhub/assets/images/logo-light-text.png' %}"
                     alt="{{ request.site.site_name }}" class="dark-logo"/>
            </div>
            <div class="card-body bg-dark" style="padding-left: 10%; padding-right: 10%;">

                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <br>
                    <div class="form-row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <button type="submit"
                                        style="width: 100%; height: 100%;"
                                        class="btn btn-success btn-lg">
                                    {% trans 'Create New Work Place' %}
                                    <i class="ti-plus"></i>
                                </button>
                            </div>

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="row-flex">
            {% for place in places %}
                <div class="col-lg-6">
                    <div class="card card-body">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-lg-3 text-center">
                                <a href=""><img src="{{ place.image_url }}" alt="{{ place.name }}"
                                                                       class="img-fluid"></a>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <h3 class="box-title m-b-0">{{ place.name }}</h3> <small class="badge badge-primary">{{ place.medical_center.name }}</small>
                                <address>
                                    {{ place.address|truncatechars:100 }}
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-lg-1">

    </div>
</div>

{% if places.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            {% with paginated_objects=places %}
                {% include 'home/pagination/pagination.html' %}
            {% endwith %}
        </div>
        <div class="col-lg-1">

        </div>
    </div>
{% endif %}
