{% load i18n %}
{% load pages %}
{% load specialties %}
{% load services %}
{% load education %}
{% load work_places %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row-flex mb-4">
            <div class="col-lg-4 col-xlg-3 col-md-5 mt-2">
                <div class="card" style="height: 100%;">
                    <div class="card-body text-center">
                        <img src="{{ object.image_url }}" class="img-thumbnail" width="150"/>
                        <h4 class="card-title m-t-10">
                            {{ object.name }}
                        </h4>
                        <a href="" class="badge badge-primary m-t-10">
                            {{ object.medical_center.name }}
                        </a>
                        <br>
                        <br>
                        <h4>
                            {{ object.address }}
                        </h4>
                        <br>
                        <br>
                        <a href="{% url 'edit_work_place' object.pk %}"
                           style="width: 100%;"
                           class="btn btn-success btn-lg">
                            <small>
                                {% trans 'Work Place Information' %}
                            </small>
                            <i class="ti-settings"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7 mt-2">
                <!-- Nav tabs -->
                <div class="card" style="height: 100%;">
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#specialists" role="tab">
                                {% trans 'Specialists' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#phone" role="tab">
                                {% trans 'Phone' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#images" role="tab">
                                {% trans 'Images' %}
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="specialists" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">

                            </div>
                        </div>
                        <div class="tab-pane" id="phone" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% place_phones object as phones %}
                                {% if phones %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% with complete_mode=True %}
                                                {% include 'home/specialists/work_places/phone/phones_list.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Add Phone number for this work place so that people can contact you." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_place_phone' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add New Phone' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="images" role="tabpanel">
                            <div class="card-body" style="height: 400px; overflow-y: scroll;">
                                {% place_images object as images %}
                                {% if images %}
                                    {% with edit_mode=True %}
                                        {% with bg_color='bg-dark' %}
                                            {% include 'home/specialists/work_places/images/gallery.html' %}
                                        {% endwith %}
                                    {% endwith %}
                                {% else %}
                                    <p class="text-danger text-center">
                                        {% trans "Upload images of your work place." %}
                                    </p>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'create_place_image' object.pk %}"
                                       class="btn btn-success btn-lg">
                                        {% trans 'Add New Image' %}
                                        <i class="ti-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>