{% load i18n %}

<div class="row-flex">
    {% for symptom in symptoms %}
        <div class="{% if complete_mode %}col-lg-12{% else %}col-lg-6{% endif %} mb-3">
            <div class="card card-body {{ bg_color }}" style="height: 100%;">
                <div class="row align-items-center">
                    <div class="col-md-4 col-lg-3 text-center">
                        <img src="{{ symptom.image_url }}" alt="{{ symptom.name }}"
                                        class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <h3 class="box-title m-b-0">
                            {% if complete_mode %}
                                {{ symptom.name }}
                            {% else %}
                                {{ symptom.name|truncatechars:50 }}
                            {% endif %}
                        </h3>
                        <br>
                        <p>
                            {% if complete_mode %}
                                {{ symptom.description }}
                            {% else %}
                                {{ symptom.description|truncatechars:100 }}
                            {% endif %}
                        </p>
                        {% if edit_mode %}
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'edit_symptom' symptom.pk %}"
                                           class="btn btn-outline-success btn-lg" style="width: 100%;">
                                            {% trans 'Edit' %}
                                            <i class="ti-settings"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <button data-detail-url="{% url 'specialists-symptoms-detail' symptom.pk %}"
                                           class="btn btn-danger btn-lg delete-symptom"
                                           style="width: 100%;">
                                            {% trans 'Delete' %}
                                            <i class="ti-eraser"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>